<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>FluentAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/prof-classes">
                <img src="/static/img/logo_dark.png" alt="FluentAI Logo" width="130" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav d-flex flex-row ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn nav-button" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{username}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/logoutcas">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col offset-sm-1">
                <div class="dropdown">
                    <button class="btn btn-course-dropdown dropdown-toggle" type="button" id="dropdownMenuCourse"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <h1 id="course-id-display">{{ course_id }}<i class="fa fa-caret-down"></i></h1>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuCourse">
                        <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#courseCodeModal">
                                Get Course Code</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#editCourseCodeModal">
                                Edit Course Code</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#deleteCourseModal">
                                Delete Course</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="courseCodeModal" tabindex="-1" role="dialog" aria-labelledby="courseCodeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="courseCodeModalLabel">Course Code</h5>
                    <button type="button" class="close ms-auto" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The course code is: {{ course_code }} <!-- insert course code from backend-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editCourseCodeModal" tabindex="-1" role="dialog"
        aria-labelledby="editCourseCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCourseCodeModalLabel">Edit Course Code</h5>
                    <button type="button" class="close ms-auto" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="edit-course-code" class="col-form-label">Edit Course Code:</label>
                            <textarea class="form-control" id="edit-course-code" rows="1" data-max-length="6"
                                placeholder="Type New Course Code"></textarea>
                            <small>Characters left: <span id="char-count-edit-course-code"></span></small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="edit-course-code-button">Edit course code</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="deleteCourseModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCourseModalLabel">Delete Course</h5>
                    <button type="button" class="close ms-auto" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <strong>{{ course_id }}</strong> forever?
                    <p>Warning: By deleting this course, you will not be able to access nor recover any data for it upon
                        deletion.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmDelete" data-bs-dismiss="modal"> Yes,
                        delete course</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Modals -->

    <br>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-auto mt-5">
                <h2 id="dashboard-welcome">Hi {{first_name}}, what would you like to do?</h2>
            </div>
        </div>
        <br>
        <div class="large-screen-layout">
            <div class="row justify-content-center">
                <!-- Each .col div acts as a container for a button, using col-auto to size to content -->
                <div class="col-auto">
                    <a href="/prof-assignments/{{ course_id }}" id="dashboard-btn" class="text-decoration-none">
                        <div id="dashboard-box">Assignments</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="/prof-scores/{{ course_id }}" id="dashboard-btn" class="text-decoration-none">
                        <div id="dashboard-box">Scores</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="/prof-roster/{{ course_id }}" id="dashboard-btn" class="text-decoration-none">
                        <div id="dashboard-box">Roster</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="small-screen-layout">
            <div class="row row-cols-1 row-cols-md-3 g-2 g-md-3 d-flex align-items-stretch">
                <div class="col d-flex">
                    <a href="/prof-assignments/{{ course_id }}"
                        class="class-button w-100 d-flex align-items-center justify-content-center" role="button"
                        id="class-button">
                        Assignments
                    </a>
                </div>
                <div class="col d-flex">
                    <a href="/prof-scores/{{ course_id }}"
                        class="class-button w-100 d-flex align-items-center justify-content-center" role="button"
                        id="class-button">
                        Scores
                    </a>
                </div>
                <div class="col d-flex">
                    <a href="/prof-roster/{{ course_id }}"
                        class="class-button w-100 d-flex align-items-center justify-content-center" role="button"
                        id="class-button">
                        Roster
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            var $charCount = $('#char-count-edit-course-code');
            var maxLength = parseInt($('#edit-course-code').attr('data-max-length'), 10);

            // initialize character count
            function initializeCharCount() {
                $charCount.text(maxLength);
            }

            // update character count
            function updateCharCount() {
                var currLength = $('#edit-course-code').val().length;
                $charCount.text(maxLength - currLength);
            }

            // clear text area within edit-code modal
            function clearTextArea() {
                $("#edit-course-code").val('');
            }

            // update character count when user types in new code
            $('#edit-course-code').on('input', updateCharCount);

            // reset text area and character count when edit-code modal is closed
            $('#editCourseCodeModal').on('hidden.bs.modal', function () {
                clearTextArea();
                initializeCharCount();
            });

            // edit course code click event
            $("#edit-course-code-button").click(function () {
                var newCourseCode = $("#edit-course-code").val().trim();
                var courseId = $("#course-id-display").text();

                if (!newCourseCode) {
                    alert("Course code cannot be empty");
                    return;
                }

                $.ajax({
                    url: '/edit-course-code',
                    type: 'POST',
                    data: {
                        course_id: courseId,
                        new_course_code: newCourseCode
                    },
                    success: function (response) {
                        alert(response.message);
                        $('#editCourseCodeModal').modal('hide');
                        location.reload();
                    },
                    error: function (xhr) {
                        alert('Error updating course code: ' + xhr.responseText);
                    }
                });
            });

            $('#deleteCourseModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);  // Button that triggered the modal
                var courseId = button.data('course-id');  
                $(this).find('#confirmDelete').data('course-id', courseId);  
            });

            // Handle the confirmation button click
            $('#confirmDelete').click(function () {
                var courseId = $(this).data('course-id');  // Get the course ID set earlier
                $.ajax({
                    url: '/delete-course/' + courseId,
                    type: 'POST',
                    success: function (response) {
                        alert(response.message); // Notify user of success
                        window.location.href = 'https://fluentai.onrender.com/prof-classes'; // Redirect
                    },
                    error: function (error) {
                        alert('Error deleting course');
                        console.log(error);
                    }
                });
            });
        });

    </script>

</body>

</html>