<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <title>FluentAI - Professor {{ course_id }} Scores</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/minified/introjs.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    /* Tooltip specific styles */
    .tooltip .tooltip-inner {
      min-width: 400px !important;
    }

    @media (max-width: 768px) {
      .tooltip .tooltip-inner {
        min-width: 300px !important;
      }

      .small-button {
        padding: 8px 5px;
      }
    }
  </style>
</head>

<body>
  {% if user_type == 'SuperAdmin' %}
  <div class="banner">
    You are currently in Professor View.
  </div>
  {% endif %}

  <nav class="navbar navbar-expand-sm bg-dark navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/prof-dashboard">
        <img src="/static/img/logo_dark.png" alt="FluentAI Logo" width="130" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/prof-assignments/{{course_id}}">Assignments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prof-scores/{{course_id}}" id="underlined">Scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prof-roster/{{course_id}}">Roster</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn nav-button" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              {% if user_type == 'SuperAdmin' %}
              <li class="dropdown-item disabled" aria-disabled="true" style="pointer-events: none; cursor: default;">
                User Role: Admin</li>
              <li><a class="dropdown-item" href="/admin-dashboard">Admin View</a></li>
              <li><a class="dropdown-item" href="#" id="underlined">Professor View</a></li>
              <li><a class="dropdown-item" href="/student-dashboard">Student View</a></li>
              {% else %}
              <li class="dropdown-item disabled" aria-disabled="true" style="pointer-events: none; cursor: default;">
                User Role: {{ user_type }}</li>
              {% endif %}
              <li><a class="dropdown-item" href="/logoutcas">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col offset-sm-1 course-id-holder" data-course-id="{{ course_id }}">
        <h1>{{course_id}}</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col offset-sm-1">
        <h2>Assignment Scores</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid small-screen-layout">
    <div class="row row-cols-1 row-cols-md-3 g-2 g-md-3 d-flex align-items-stretch">
      <div class="col d-flex">
        <button class="class-button w-100 d-flex align-items-center justify-content-center" type="button"
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
          See Specific Assignment Scores
        </button>
        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasTopLabel">Assignment Scores</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0" data-assignment="general">
                  Scores Overview
                </a>
              </li>
              {% for prompt_id, title in assignments %}
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0" data-assignment="{{ prompt_id }}">
                  {{ title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="scores-section">

      <div class="chart-container">
        <canvas id="scoresChartSmall" width="100" height="100"></canvas>
      </div>

      <table class="col offset-sm-1 table score-table" style="display: none;">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>
              AI Score
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                class="bi bi-info-square-fill" viewBox="0 0 16 16" style="position: relative;" data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Disclaimer: Please be aware that the scores provided have been graded by ChatGPT. While this AI model is designed to assess answers based on language usage and correctness, it does not match the comprehensive judgment of a human instructor. Please use them as a guide alongside other assessments for accurate scoring.">
                <path
                  d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
              </svg>
            </th>
            <th>
              Professor Score
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                class="bi bi-info-square-fill" viewBox="0 0 16 16" style="position: relative;" data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Professors can review the conversation history and input their own score to ensure the most accurate evaluation.">
                <path
                  d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
              </svg>
            </th>
            <th>Conversation History</th>
          </tr>
        </thead>
        <tbody class="score-body">
          <!-- Data rows will go here -->
        </tbody>
      </table>
    </div>
    <br><br>
  </div>

  <div class="container-fluid large-screen-layout">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 offset-sm-1" style="background-color: #EAF2FF; color: #1E1E1E;">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-5 min-vh-100">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0" data-assignment="general">
                Scores Overview
              </a>
            </li>
            {% if assignments %}
            {% for prompt_id, title in assignments %}
            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0" data-assignment="{{ prompt_id }}">
                {{ title }}
              </a>
            </li>
            {% endfor %}
            {% else %}
            <li>No assignments found.</li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="col py-3">
        <div class="container-fluid scores-section">

          <div class="chart-container">
            <canvas id="scoresChart" width="100" height="100"></canvas>
          </div>

          <table class="col offset-sm-1 table score-table" style="display: none;">
            <thead>
              <tr>
                <th>Student Name</th>
                <th>
                  AI Score
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                    class="bi bi-info-square-fill" viewBox="0 0 16 16" style="position: relative;"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Disclaimer: Please be aware that the scores provided have been graded by ChatGPT. While this AI model is designed to assess answers based on language usage and correctness, it does not match the comprehensive judgment of a human instructor. Please use them as a guide alongside other assessments for accurate scoring.">
                    <path
                      d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                  </svg>
                </th>
                <th>
                  Professor Score
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                    class="bi bi-info-square-fill" viewBox="0 0 16 16" style="position: relative;"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Professors can review the conversation history and input their own score to ensure the most accurate evaluation.">
                    <path
                      d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                  </svg>
                </th>
                <th>Conversation History</th>
              </tr>
            </thead>
            <tbody class="score-body">
              <!-- Data rows will go here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="editProfessorScoreModal" tabindex="-1" role="dialog"
    aria-labelledby="editProfessorScoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfessorScoreModalLabel">Edit Professor Score</h5>
          <button type="button" class="close ms-auto" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Professor Score:</label>
              <textarea class="form-control" id="prof-score" rows="1" data-max-length="3"
                placeholder="Type a score out of 100"></textarea>
              <small>Characters left: <span id="char-count-prof-score">3</span></small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="storeProfessorScore">Edit professor score</button>
        </div>
      </div>
    </div>
  </div>

  <!-- End Modal -->

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      const menuItems = document.querySelectorAll('#menu a');
      const scoreTables = document.querySelectorAll('.score-table');
      const scoreBodies = document.querySelectorAll('.score-body');
      const courseID = document.querySelector('.course-id-holder').getAttribute('data-course-id');
      const chartContainers = document.querySelectorAll('.chart-container'); // Define chart container
      var scoresChart;
      var scoresChartSmall;

      // Function to hide the scores tables
      function hideScores() {
        scoreTables.forEach(table => {
          table.style.display = 'none';
        });
      }

      // Initially hide the scores tables
      hideScores();

      // Fetch and display scores for a given prompt ID
      function fetchAndDisplayScores(promptId) {
        fetch(`/get-scores/${promptId}`)
          .then(response => response.json())
          .then(data => {
            updateScoresDisplay(data);
          })
          .catch(error => {
            updateScoresDisplay([]); // Handle errors by clearing the display
          });
      }

      // Update display with fetched data
      function updateScoresDisplay(data) {
        scoreBodies.forEach(body => {
          body.innerHTML = ''; // Clear previous scores
          scoreTables.forEach(table => {
            table.style.display = 'table'; // Show the table if there are scores
          });
          if (data.length > 0) {
            data.forEach(score => {
              const displayScore = score.score !== null ? `${score.score}/100` : '-/100';
              const displayProfScore = score.prof_score !== null ? `${score.prof_score}/100` : '-/100';
              const conversationLink = score.conv_id ?
                `<a href="/prof-conversation-history/${courseID}/${score.conv_id}" class="small-button">See Conversation History</a>` :
                `<button onclick="alert('This student has not completed the assignment yet.')" class="small-button">See Conversation History</button>`;
              const row = `<tr>
                        <td>${score.student_id}</td>
                        <td>${displayScore}</td>
                        <td>
                          <span data-score-id="${score.conv_id}"> ${displayProfScore}</span>
                          <button class="btn p-0" style="background: none; border: none; margin-top: 5px;" data-bs-toggle="modal" data-bs-target="#editProfessorScoreModal" data-conv-id="${score.conv_id}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="margin-left: 5px; margin-bottom: 8px" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit professor score">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9 a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                          </button>
                        </td>
                        <td>${conversationLink}</td>
                      </tr>`;
              body.innerHTML += row; // Append new score to each score body
            });
          } else {
            const row = `<tr>
                        <td colspan="4">No scores to display as there are no students in this course.</td>
                        </tr>`;
            body.innerHTML += row;
          }
        });
      }

      function hideChart() {
        if (scoresChart) {
          scoresChart.destroy(); // Properly destroy the chart instance
        }
        if (scoresChartSmall) {
          scoresChartSmall.destroy(); // Properly destroy the chart instance
        }

        chartContainers.forEach(chartContainer => {
          chartContainer.style.display = 'none'; // Hide the chart container
        });
      }

      function fetchScoresAndRenderChart(courseID) {
        fetch(`/calculate-scores/${courseID}`)
          .then(response => response.json())
          .then(data => {
            renderChart(data);
          })
          .catch(error => console.error('Error fetching scores:', error));
      }

      function renderChart(data) {
        if (scoresChart) {
          scoresChart.destroy(); // Destroy the existing chart instance if it exists
        }
        if (scoresChartSmall) {
          scoresChartSmall.destroy(); // Destroy the existing chart instance if it exists
        }

        const Utils = {
          CHART_COLORS: {
            light: 'rgb(100, 149, 237)',
            dark: '#1E1E1E',
          },
          transparentize: function (color, alpha) {
            const rgb = color.match(/\d+/g);
            return `rgba(${rgb[0]}, ${rgb[1]}, ${rgb[2]}, ${alpha})`;
          }
        };

        const config = {
          type: 'bar',
          data: {
            labels: data.assignment_names,
            datasets: [{
              label: 'AI Mean Score',
              data: data.mean_ai_scores,
              borderColor: Utils.transparentize(Utils.CHART_COLORS.dark, 0.5),
              backgroundColor: Utils.transparentize(Utils.CHART_COLORS.dark, 0.5),
            },
            {
              label: 'Professor Mean Score',
              data: data.mean_prof_scores,
              borderColor: Utils.transparentize(Utils.CHART_COLORS.light, 0.6),
              backgroundColor: Utils.transparentize(Utils.CHART_COLORS.light, 0.6),
            },
            {
              label: 'AI Median Score',
              data: data.median_ai_scores,
              borderColor: Utils.transparentize(Utils.CHART_COLORS.dark, 0.3),
              backgroundColor: Utils.transparentize(Utils.CHART_COLORS.dark, 0.3),
            },
            {
              label: 'Professor Median Score',
              data: data.median_prof_scores,
              borderColor: Utils.transparentize(Utils.CHART_COLORS.light, 0.3),
              backgroundColor: Utils.transparentize(Utils.CHART_COLORS.light, 0.3),
            }
            ]
          },
          options: {
            indexAxis: 'y',
            scales: {
              x: {
                min: 0,
                max: 100
              }
            },
            elements: {
              bar: {
                borderWidth: 0.5,
              }
            },
            responsive: true,
            plugins: {
              legend: {
                display: true,
                position: 'top',
                labels: {
                  boxWidth: 15,
                  padding: 30
                },
                font: {
                  family: 'Inter', // Optional: specify the font family
                },
              },
              title: {
                display: true,
                text: 'Mean and Median Scores for All Course Assignments',
                font: {
                  size: 20, // Set the title font size to 24
                  family: 'Inter', // Optional: specify the font family
                }
              }
            }
          },
        };
        chartContainers.forEach(chartContainer => {
          chartContainer.style.display = 'block'; // Ensure the chart container is visible
        });
        scoresChart = new Chart(document.getElementById('scoresChart'), config);
        scoresChartSmall = new Chart(document.getElementById('scoresChartSmall'), config);
      }

      // Event listeners for menu items
      menuItems.forEach(item => {
        item.addEventListener('click', function (e) {
          e.preventDefault();
          const promptId = this.getAttribute('data-assignment');
          if (promptId === 'general') {
            hideScores();
            fetchScoresAndRenderChart(courseID);
          } else {
            hideChart();
            fetchAndDisplayScores(promptId);
          }
        });
      });

      // Initialize the default view
      fetchScoresAndRenderChart(courseID); // Render the chart by default

      // Function to update the professor score in the table
      function updateProfScoreInTable(convId, newScore) {
        const scoreCells = document.querySelectorAll(`[data-score-id="${convId}"]`);
        scoreCells.forEach((scoreCell) => {
          scoreCell.innerHTML = `${newScore}/100`
        });
      }


      // Listener to handle when the modal is shown
      $('#editProfessorScoreModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var convId = button.data('conv-id'); // Extract info from data-* attributes
        var modal = $(this);
        modal.find('#storeProfessorScore').attr('data-conv-id', convId);
      });

      const profScoreButton = document.getElementById('storeProfessorScore');
      profScoreButton.addEventListener('click', function () {
        const profScoreInput = document.getElementById('prof-score');
        const profScore = profScoreInput.value.trim();
        const convId = profScoreButton.getAttribute('data-conv-id');
        if (!convId) {
          alert('Score cannot be provided at this time as the student has not completed the assignment.');
          return;
        }

        if (profScore === '') {
          alert('Please enter a score.');
          return;
        }

        if (!/^\d+$/.test(profScore)) {
          alert('Please enter a valid integer score.');
          return;
        }

        const scoreNum = parseInt(profScore, 10);
        if (scoreNum < 0 || scoreNum > 100) {
          alert('Please enter a valid score between 0 and 100.');
          return;
        }

        $.ajax({
          type: 'POST',
          url: '/edit-prof-score/' + convId,
          data: JSON.stringify({ profScore: scoreNum }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function (response) {
            alert('Score edited successfully!');
            updateProfScoreInTable(convId, scoreNum);
            $('#editProfessorScoreModal').modal('hide');
          },
          error: function (xhr) {
            var response = JSON.parse(xhr.responseText);
            console.error("Error editing score: ", response.message);
            alert('Failed to edit score: ' + response.message);
          }
        });
      });

      // Set the default active link to 'Scores Overview'
      const defaultActiveLinks = document.querySelectorAll('.nav-link[data-assignment="general"]');
      defaultActiveLinks.forEach(link => link.classList.add('active'));

      const links = document.querySelectorAll('.nav-link');
      links.forEach(link => {
        link.addEventListener('click', function () {
          // Remove 'active' from all links
          links.forEach(l => l.classList.remove('active'));
          // Add 'active' to the clicked link
          this.classList.add('active');
        });
      });
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#startTutorial").click(function () {
        introJs().start();
      });
    });
  </script>


</body>

</html>