<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
      <title>FluentAI</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
      <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>

    <body>
        <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCourseModalLabel">Create a New Course</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Course ID (Department + Number):</label>
                            <textarea class="form-control" id="course-id" rows="1" placeholder="Type Course ID (e.g. SPA101)"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Course Name:</label>
                            <textarea class="form-control" id="course-name" rows="1" placeholder="Type Course Name (e.g. Beginner's Spanish I)"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="course-description" class="col-form-label">Course Description:</label>
                            <textarea class="form-control" id="course-description" rows="5" maxlength="500"
                            placeholder="Type Course Description (e.g. SPA 101 presents the basic structures and vocabulary of the Spanish language at elementary/low intermediate levels of proficiency. It is designed to develop students' linguistic and communicative competence in all three modes of communication: interpersonal, interpretive, and presentational.)"></textarea>
                            <small>Characters left: <span id="char-count">500</span></small>
                        </div>
                        <div class="form-group">
                            <label for="department-select" class="col-form-label">Language:</label>
                            <select class="form-control" id="department-select">
                                <option selected>Choose Language...</option>
                                <option value="Spanish">Spanish</option>
                                <!-- <option value="Chinese">Chinese</option>
                                <option value="Korean">Korean</option> -->
                                <!-- Add more options here -->
                            </select>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="add-course-button">Add course</button>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-sm bg-dark navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                <img src="static/img/logo_dark.png" alt="FluentAI Logo" width="130"/> 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/prof-classes" id="underlined">My Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#addCourseModal">Create New Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prof-scores">Scores</a>
                          </li>    
                          <li class="nav-item">
                              <a class="nav-link" href="/prof-roster">Students</a>
                            </li>   
                    </ul>
                    <ul class="navbar-nav d-flex flex-row ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btn nav-button" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{username}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/logoutcas">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br>

        <div class="container">
            <div class="row mt-4">
                <div class="row mt-4 align-items-center">
                    <h1>My Courses</h1>
            </div>
            <br>
            <div class="row row-cols-1 row-cols-md-3 g-2 g-md-3 d-flex align-items-stretch">
              <!-- Each .col div acts as a container for a button, ensuring equal height -->
              <!-- <div class="col d-flex">
                <a href="/prof-dashboard" class="class-button" role="button">
                    <h3>SPA 101</h3>Beginner's Spanish I
                </a>
              </div>
              <div class="col d-flex">
                <a href="#" data-bs-toggle="modal" data-bs-target="#addCourseModal" class="class-button" role="button">
                    <h3><img src="static/img/add_course_light.png" width="35"/></h3> Create New Course
                </a>
              </div> -->
              <!-- Add more .col divs with class-button for each additional course -->
            </div>
        </div>

        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
        </script>

        <script type="text/javascript">
            $(document).ready(function(){
                // Function to fetch updated course list
                function fetchCourses() {
                    $.ajax({
                        url: '/get-prof-courses',
                        method: 'GET',
                        cache: false,
                        success: function(response) {
                            displayCourses(response); // Update the course list on the page
                        },
                        error: function(xhr, status, error) {
                            alert('Error fetching courses: ' + xhr.statusText);
                        }
                    });
                }

                // Function to display courses
                function displayCourses(courses) {
                    var courseListHtml = '<div class="col d-flex">' +
                                            '<a href="#" data-bs-toggle="modal" data-bs-target="#addCourseModal" class="class-button" role="button">' +
                                            '<h3><img src="static/img/add_course_light.png" width="35"/></h3> Create New Course' +
                                            '</a></div>';
                    $.each(courses, function(index, course) {
                        courseListHtml += '<div class="col d-flex">' +
                        '<a href="/prof-dashboard/' + encodeURIComponent(course.course_id) + 
                        '" class="class-button" role="button">' + // Using URL parameters
                        '<h3>' + course.course_id + '</h3>' + course.course_name +
                        '</a></div>';
                    });
                    $(".row-cols-md-3").html(courseListHtml);
                }

                // Add course button click event
                $("#add-course-button").click(function(){
                    var courseId = $("#course-id").val();
                    var courseName = $("#course-name").val();
                    var courseDescription = $("#course-description").val();
                    var language = $("#department-select").find(":selected").text();

                    if(!courseId || !courseName) {
                        alert("Course ID and name are required.");
                        return;
                    }
            
                    $.ajax({
                        url: '/add-course',
                        method: 'POST',
                        data: {
                            course_id: courseId,
                            course_name: courseName,
                            course_description: courseDescription,
                            language: language
                        },
                        success: function(response) {
                            alert(response.message);
                            $('#addCourseModal').modal('hide');
                            $('#add-course-form')[0].reset();
                            location.reload();
                        },
                        error: function(xhr, status, error) {
                            alert('Error adding course: ' + xhr.statusText);
                        }
                    });
                });

                // Initial fetch of courses when the page loads
                fetchCourses();
            });
        </script>
        
    </body>
</html>


    