<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>FluentAI - Student All Course List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <div class="modal fade" id="joinCourseModal" tabindex="-1" role="dialog" aria-labelledby="joinCourseModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinCourseModalLabel">Join This Course</h5>
                    <button type="button" class="close ms-auto" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Course Code:</label>
                            <textarea class="form-control" id="course-code" rows="1" data-max-length="6"
                                placeholder="Type course code"></textarea>
                            <small>Characters left: <span id="char-count-course-code">6</span></small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="join-course-button">Join course</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/student-classes">
                <img src="/static/img/logo_dark.png" alt="FluentAI Logo" width="130" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/student-classes">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student-all-classes" id="underlined">All Courses</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn nav-button" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{username}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/logoutcas">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <div class="container">
        <div class="row mt-4">
            <h1>All Courses</h1>
        </div>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-2 g-md-3 d-flex align-items-stretch">
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            function fetchAllCourses() {
                $.ajax({
                    url: '/all-courses',
                    method: 'GET',
                    cache: false,
                    success: function (courses) {
                        var courseListHtml = '';
                        $.each(courses, function (index, course) {
                            courseListHtml += '<div class="col d-flex">' +
                            '<a href="#" class="class-button" role="button" onclick="checkAndDisplayModal(\'' + encodeURIComponent(course.course_id) + '\')">' +
                            '<h3>' + course.course_id + '</h3> ' + course.course_name +
                            '</a></div>';
                        });
                        $(".row-cols-md-3").html(courseListHtml);
                    },
                    error: function (xhr) {
                        alert('Error fetching courses: ' + xhr.statusText);
                    }
                });
            }
            
            // Check if the student is in the clicked course, display modal if not
            function checkAndDisplayModal(courseId) {
                $.ajax({
                    url: '/check-enrollment/' + courseId,
                    method: 'GET',
                    success: function(response) {
                        if (!response.enrolled) {
                            $('#joinCourseModal').modal('show');  // Show the join course modal
                        } else {
                            window.location.href = '/student-dashboard/' + encodeURIComponent(courseId);
                        }
                    },
                    error: function(xhr) {
                        alert('Error checking enrollment: ' + xhr.statusText);
                    }
                });
            }

            // Join course button click event from the modal
            $("#join-course-button").click(function () {
                    var courseCode = $("#course-code").val();  // Assumes input for course code is available

                    if (!courseCode) {
                        alert("Course code is required.");
                        return;
                    }

                    $.ajax({
                        url: '/join-course',
                        method: 'POST',
                        data: { course_code: courseCode },
                        success: function (response) {
                            alert(response.message);
                            $('#joinCourseModal').modal('hide'); // Hide the modal
                            fetchAllCourses(); // Re-fetch courses to update the list
                        },
                        error: function (xhr, status, error) {
                            alert('Error joining course: invalid course code');
                        }
                    });
                });

            // Initial fetch of all courses when the page loads
            fetchAllCourses();
        });
    </script>
</body>

</html>