<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <title>FluentAI - Student {{ course_id }} Practice List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/assignments.css') }}">
</head>

<body>
  {% if user_type == 'SuperAdmin' %}
  <div class="banner">
    You are currently in Student View.
  </div>
  {% endif %}

  <nav class="navbar navbar-expand-sm bg-dark navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/student-dashboard">
        <img src="/static/img/logo_dark.png" alt="FluentAI Logo" width="130" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/student-assignments/{{ course_id }}">Assignments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student-practice/{{ course_id }}" id="underlined">Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student-scores/{{ course_id }}">Scores</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn nav-button" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              {% if user_type == 'SuperAdmin' %}
              <li class="dropdown-item disabled" aria-disabled="true" style="pointer-events: none; cursor: default;">
                User Role: Admin</li>
              <li><a class="dropdown-item" href="/admin-dashboard">Admin View</a></li>
              <li><a class="dropdown-item" href="/prof-dashboard">Professor View</a></li>
              <li><a class="dropdown-item" href="#" id="underlined">Student View</a></li>
              {% else %}
              <li class="dropdown-item disabled" aria-disabled="true" style="pointer-events: none; cursor: default;">
                User Role: {{ user_type }}</li>
              {% endif %}
              <li><a class="dropdown-item" href="/logoutcas">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col offset-sm-1">
        <h1>{{ course_id }} </h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col offset-sm-1">
        <h2>Unlimited Practice</h2>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="career-search mb-60">
          <div class="filter-result">
            {% for prompt_id, title, created_at in practice_assignments %}
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="job-content">
                  <h5>{{ title }}</h5>
                </div>
              </div>

              <div class="large-screen-layout">
                <div class="job-right my-4 flex-shrink-0 d-flex">
                  <a href="/student-practice-chat/{{ course_id }}" class="assignments-button">Practice</a>
                </div>
              </div>

              <div class="small-screen-layout">
                <div class="col d-flex">
                  <a href="/student-practice-chat/{{ course_id }}"
                    class="class-button w-100 d-flex align-items-center justify-content-center" role="button"
                    id="class-button">
                    Practice
                  </a>
                </div>
              </div>
            </div>
            {% else %}
            <p>No current practice assignments available.</p>
            {% endfor %}
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>