body, html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1E1E1E;
}

.navbar {
  background-color: #1E1E1E !important; /* Ensure this overrides Bootstrap styles */
}

.nav-link:hover {
  color: #EAF2FF; 
}

.container1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.subcontainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  color: #EAF2FF;
}

h1 {
  font-size: 175px;
  margin-top: 180px;
  margin-bottom: 80px;
  position: relative; /* Add this to establish a positioning context */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px; /* Give it a height to ensure space for the absolute elements */
}

.fade-word {
  opacity: 0;
  position: absolute;
  animation: fadeInOut 8s infinite; /* The total time should be the cycle duration */
  width: 100%; /* Full width to center text */
  display: flex;
  justify-content: center; /* Center the text */
  left: 0; /* Align the left edge with the parent's left */
}
  
@keyframes fadeInOut {
  0%, 55%, 100% { opacity: 0; }
  5%, 30% { opacity: 1; }
}
  
.fade-word:nth-child(1) {
  animation-delay: 0s;
}

.fade-word:nth-child(2) {
  animation-delay: 4s;
}

.button {
  padding: 10px 50px;
  border: 3px solid #EAF2FF;
  background-color: transparent;
  color: #EAF2FF;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for hover effects */
}

.button:hover {
  background-color: #EAF2FF;
  color: #1E1E1E;
}

.container2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 19px;
  align-items: center;
  background-color: #EAF2FF;
  color: #1E1E1E;
  padding: 0 250px; /* Add 20px padding to the left and right */
}

h2 {
  font-size: 6vw;
  margin-top: 2vw;
  margin-bottom: -3vw;
  position: relative; /* Add this to establish a positioning context */
  display: flex;
  justify-content: left;
  width: 100%;
  height: 200px; /* Give it a height to ensure space for the absolute elements */
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 3s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) and (orientation : portrait) {
  header img {
    width: 20%; /* Adjust the logo size for smaller screens */
  }

  h1 {
    font-size: 130px;
    margin-top: 170px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  h2 {
    margin-top: 2vw;
    font-size: 10vw; /* Larger percentage of the viewport width on smaller screens */
  }

  p {
    margin-top: -20vw;
    font-size: 15px;
  }

  .container2 {
    padding: 20px; /* Reduce padding for smaller screens */
    min-height: 100vh;
  }

  .button {
    padding: 8px 40px; /* Adjust button size */
  }

  #goodbye {
    font-size: 80px;
    margin-top: 170px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
  }

  #goodbye-message {
    font-size: 11px;
    justify-content: center;
    text-align: justify;
  }
}

/* Styles for ipad / tablet screens */
@media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
  h1 {
    margin-top: 300px;
  }
  .container2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 19px;
    align-items: center;
    background-color: #EAF2FF;
    color: #1E1E1E;
    padding: 0 50px; /* Add 20px padding to the left and right */
  }

}

/* Styles for ipad / tablet screens */
@media (max-width: 1024px) and (orientation : landscape) {
  .container2 {
    display: none;
  }
}
