body, html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1E1E1E;
}

.navbar {
  background-color: #1E1E1E !important; /* Ensure this overrides Bootstrap styles */
}

.nav-link:hover {
  color: #EAF2FF; 
}

.container1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.subcontainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  color: #EAF2FF;
}

h1 {
  font-size: 12vw;
  margin-top: 15vw;
  margin-bottom: 5vw;
  position: relative; /* Add this to establish a positioning context */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px; /* Give it a height to ensure space for the absolute elements */
}

.fade-word {
  opacity: 0;
  position: absolute;
  animation: fadeInOut 8s infinite; /* The total time should be the cycle duration */
  width: 100%; /* Full width to center text */
  display: flex;
  justify-content: center; /* Center the text */
  left: 0; /* Align the left edge with the parent's left */
}
  
@keyframes fadeInOut {
  0%, 55%, 100% { opacity: 0; }
  5%, 30% { opacity: 1; }
}
  
.fade-word:nth-child(1) {
  animation-delay: 0s;
}

.fade-word:nth-child(2) {
  animation-delay: 4s;
}

#loginButton {
  padding: 10px 50px;
  border: 3px solid #EAF2FF;
  background-color: transparent;
  color: #EAF2FF;
  cursor: pointer;
}

#loginButton:hover {
  background-color: #EAF2FF;
  color: #1E1E1E;
}

.container2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 19px;
  align-items: center;
  background-color: #EAF2FF;
  color: #1E1E1E;
  padding: 0 250px; /* Add 20px padding to the left and right */
}

h2 {
  font-size: 6vw;
  margin-top: 2vw;
  margin-bottom: -3vw;
  position: relative; /* Add this to establish a positioning context */
  display: flex;
  justify-content: left;
  width: 100%;
  height: 200px; /* Give it a height to ensure space for the absolute elements */
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header img {
    width: 20%; /* Adjust the logo size for smaller screens */
  }

  h1 {
    font-size: 32vw;
    margin-top: 35vw;
    margin-bottom: 10vw;
  }

  h2 {
    margin-top: 2vw;
    font-size: 10vw; /* Larger percentage of the viewport width on smaller screens */
  }

  p {
    font-size: 3vw;
  }

  .container2 {
    padding: 30px; /* Reduce padding for smaller screens */
  }

  #loginButton {
    padding: 8px 40px; /* Adjust button size */
  }
}
