


.navbar {
  background-color: #EAF2FF !important; /* Ensure this overrides Bootstrap styles */
}

.nav-link {
  color: #5E5E5E; 
}

.nav-link:hover {
  color: #1E1E1E; 
  text-decoration: underline;
  text-underline-offset: 2px;
}

#underlined {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.nav-button {
  color:#1E1E1E;
}

.nav-button:hover {
  background-color: #1E1E1E;
  padding:5px;
  color: #EAF2FF;
}

.nav-button:active, .nav-button:focus {
  color: #EAF2FF !important; 
  padding:5px;
  background-color: #1E1E1E;
}

.dropdown-menu {
  max-width:30px;
}

.dropdown-item:active {
  background-color: #1E1E1E; /* Background color for active state */
  color: #EAF2FF; /* Text color for active state */
}

body {
  background-color: #EAF2FF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} 

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

.class-button {
  background-color: #EFF7FF;
  color: #1E1E1E;
  border: 3px solid #1E1E1E;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%; /* Ensures each button stretches to the full width of its container */
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for hover effects */
}

.class-button:hover {
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.btn-primary {
  background-color: #5E5E5E; 
  border-color: #5E5E5E; 
  color: #EAF2FF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
  color: #EAF2FF;
}

#dashboard-btn #dashboard-box {
  background-color: #EFF7FF;
  color: #1E1E1E;
  border: 3px solid #1E1E1E;
  padding: 30px 32px;
  text-align: center;
  display: flex; /* Changed to flex to allow vertical centering */
  align-items: center; /* Center align-items for vertical alignment */
  justify-content: center; /* Center justify-content for horizontal alignment */
  font-size: 20px;
  margin: 50px 2px;
  width: 200px; /* Set a fixed width for smaller boxes */
  height: 50px; /* Set a fixed height for uniform boxes */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for hover effects */
}

#dashboard-btn #dashboard-box:hover {
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.small-screen-layout {
  display: none;
}

#assignments {
  background-color: #EAF2FF;
  color: #EAF2FF;
}

.table th, .table td {
  background-color: #EAF2FF !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.score-table {
  width: 80%;
  margin-top: 1rem;
}

.score-table thead {
  border-bottom: 2px #5E5E5E;
}

/* Responsive styling*/
@media (max-width: 768px) {
  .small-screen-layout {
    display: block;
  }

  .large-screen-layout {
    display: none;
  }

  #dashboard-welcome {
    font-size: 5vw;
    text-align: center;
  }

  .score-table {
    width: 100%;
    margin-top: 1rem;
  }
}
