body {
  background-color: #EAF2FF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} 

.dark {
  background-color: #1E1E1E;
  color: #EAF2FF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} 

.navbar {
  background-color: #EAF2FF !important; /* Ensure this overrides Bootstrap styles */
}

.nav-link {
  color: #5E5E5E; 
}

.nav-link:hover {
  color: #1E1E1E; 
  text-decoration: underline;
  text-underline-offset: 2px;
}

#underlined {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.nav-button {
  color:#1E1E1E;
}

.nav-button:hover, .nav-button:active, .nav-button:focus {
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.nav-link.dropdown-toggle:active,
.nav-link.dropdown-toggle:focus{
  background-color: #1E1E1E !important; /* Background color for active state */
  color: #EAF2FF !important; /* Text color for active state */
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

.class-button {
  background-color: #EFF7FF;
  color: #1E1E1E;
  border: 3px solid #1E1E1E;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%; /* Ensures each button stretches to the full width of its container */
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for hover effects */
}

.class-button:hover {
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.btn-primary {
  background-color: #5E5E5E; 
  border-color: #5E5E5E; 
  color: #EAF2FF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
  color: #EAF2FF;
}

.btn-course-dropdown {
  background-color: #EAF2FF;
  color: #1E1E1E;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-course-dropdown.dropdown-toggle::after {
  display: none;
}

/* Position the Font Awesome icon */
.btn-course-dropdown h1 .fa-caret-down {
  font-size: 24px; 
  vertical-align: middle;
  margin-left: 0.5em;
}

#delete-btn {
  background-color: brown;
}

#delete-btn:hover {
  background-color: #1E1E1E;
}

#dashboard-btn #dashboard-box {
  background-color: #EFF7FF;
  color: #1E1E1E;
  border: 3px solid #1E1E1E;
  padding: 30px 32px;
  text-align: center;
  display: flex; /* Changed to flex to allow vertical centering */
  align-items: center; /* Center align-items for vertical alignment */
  justify-content: center; /* Center justify-content for horizontal alignment */
  font-size: 20px;
  margin: 50px 2px;
  width: 200px; /* Set a fixed width for smaller boxes */
  height: 50px; /* Set a fixed height for uniform boxes */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for hover effects */
}

#dashboard-btn #dashboard-box:hover {
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.small-screen-layout {
  display: none;
}

#assignments {
  background-color: #EAF2FF;
  color: #EAF2FF;
}

.table th, .table td {
  background-color: #EAF2FF !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.score-table {
  width: 80%;
  margin-top: 1rem;
}

.score-table thead {
  border-bottom: 2px #5E5E5E;
}

.small-button {
  background-color: #EFF7FF;
  color: #1E1E1E;
  border: 2px solid #1E1E1E;
  padding: 12px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for hover effects */
}

.small-button:hover, .small-button:active, .small-button:focus {
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.chat-button {
  background-color: #EFF7FF;
  color: #1E1E1E;
  border: 2px solid #1E1E1E;
  padding: 12px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for hover effects */
}

.chat-button:hover, .chat-button:active, .chat-button:focus {
  background-color: #1E1E1E;
  color: #EAF2FF;
}

.chat-button:hover img {
  filter: invert(91%) sepia(93%) saturate(5796%) hue-rotate(179deg) brightness(110%) contrast(104%);
}

.subcontainer {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 19px;
  align-items: center;
  background-color: #EAF2FF;
  color: #1E1E1E;
  padding: 3vw 9.5vw; /* Add 20px padding to the left and right */
}

#welcome-message {
  max-width: 80vw;
  margin: 1vw auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #1E1E1E;
  background-color: #EAF2FF;
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
}

#message-text::placeholder {
  color: #b3b3b3; /* Light grey color; adjust as needed */
}

/* Responsive styling*/
@media (max-width: 768px) {
  .small-screen-layout {
    display: block;
  }

  .large-screen-layout {
    display: none;
  }

  #dashboard-welcome {
    font-size: 5vw;
    text-align: center;
  }

  .score-table {
    width: 100%;
    margin-top: 1rem;
  }

  .subcontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 16px;
    align-items: center;
    padding: 3vw 3vw; /* Add 20px padding to the left and right */
  }
}
